*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./falcon.webp');
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #00000080;
}

.title {
    font-size: calc(10px + 2vw);
}

.title p {
    font-size: calc(10px + 1vw);
}

.countdown{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown h1{
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 15px  whitesmoke;
}


.button button{
    width: 250px;
    transform: translateY(8px);
}

.start-btn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(8px);
    
}

.stop-btn{
    background-color: red  ;
}




